<table>
    <th>
        <td> transaction_charge </td>
        <td> transaction_cost </td>
        <td> wallet</td>
        <td> transaction_type </td>
        <td> origin_account </td>
        <td> destination_account </td>
        <td> status </td>
        <td> type </td>
    </th>
    {% for transaction in transactions%}
    <tr>
        <td>{{ transaction.transaction_charge}}</td>
        <td>{{ transaction.transaction_cost}}</td>
        <td>{{ transaction.wallet}}</td>
        <td>{{ transaction.transaction_type}}</td>
        <td>{{ transaction.origin_account}}</td>
        <td>{{ status}}</td>
        <td>{{ type}}</td>




    </tr>
    {% comment %} <td><a href = "{% url 'customer_profile' id = customer:id %}"> {% endcomment %}
    {% endfor%}
</table>