<table>
    <th>
        <td> date_created </td>
        <td> time </td>
        <td> message</td>
        <td> is_active</td>
        <td> image </td>
        <td> is_active </td>
        <td> recipient </td>
    </th>
    {% for notification in notifications%}
    <tr>
        <td>{{ notification.date_created}}</td>
        <td>{{ notification.time}}</td>
        <td>{{ notification.message}}</td>
        <td>{{ notification.is_active}}</td>
        <td>{{ notification.image}}</td>
        <td>{{ notification.is_active}}</td>
        <td>{{ notification.recipient}}</td>
    </tr>
    {% comment %} <td><a href = "{% url 'customer_profile' id = customer:id %}"> {% endcomment %}
    {% endfor%}
</table>