<table>
    <th>
        <td> customer </td>
        <td> balance </td>
        <td> pin </td>
        <td> currency </td>
        <td> active </td>
        <td> date_created </td>
        <td> wallet_type </td>
        <td> bank_account_name </td>
    </th>
    {% for wallet in wallets%}
    <tr>
        <td>{{ wallet.customer}}</td>
        <td>{{ wallet.balance}}</td>
        <td>{{ wallet.pin}}</td>
        <td>{{ wallet.currency}}</td>
        <td>{{ wallet.active}}</td>
    </tr>
    {% comment %} <td><a href = "{% url 'customer_profile' id = customer:id %}"> {% endcomment %}
    {% endfor%}
</table>